.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-top: 25px;
  background-color: #B1AB86;
  width: 80%;
  border-radius: 25px;
  box-shadow: 0px 0px 10px #0a400c85;
  @media (max-width: 768px) {
    margin-top: 10px;
    width: 90%;
    border-radius: 15px;
  }
  @media (max-width: 768px) {
    margin-top: 5px;
    width: 70%;
  }
  
    -ms-user-select: none; 
		-moz-user-select: none; 
		-webkit-user-select: none; 
		user-select: none; 

  .svg {
    transition: all 0.2s;
    &:hover {
      filter: drop-shadow(5px 5px 5px #6e8544);
      transform: scale(1.1);
      transition: all 0.2s;
    }
    

  }
  .logo {
    height: 100px;
    @media (max-width: 768px) {
      height: 50px;
    }
    @media (max-width: 480px) {
      height: 30px;
    }
  }
  .left {
    display: flex;
    gap: 15px;
    @media (max-width: 380px) {
      gap: 5px;
    }
    .calc {
      height: 50px;
      @media (max-width: 768px) {
        height: 30px;
      }
      @media (max-width: 480px) {
        height: 20px;
      }
    }
    .wiki {
      height: 50px;
      @media (max-width: 768px) {
        height: 30px;
      }
      @media (max-width: 480px) {
        height: 20;
      }
    }
  }
}
.footer {
  display: flex;
  margin-top: auto;
  background-color: #B1AB86;
  color: #ecf0f1;
  padding: 20px 0;
  font-family: 'Arial', sans-serif;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .logo {
    height: 50px;
    margin-bottom: 5px;
    @media (max-width: 768px) {
      height: 35x;
    }
    @media (max-width: 480px) {
      height: 20px;
    }
  }
  .footer__info {
    text-align: center;
    font-size: 14px;
    margin: 0 0 10px;
    @media (max-width: 768px) {
      font-size: 12px;
    }
    @media (max-width: 480px) {
      font-size: 10px;
    }
  }
}